// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// // DataTables
// @import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
// @import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";
// @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
// .register-page,
// .login-page {
//     background: #000428;
//     /* fallback for old browsers */
//     background: -webkit-linear-gradient(to top, #004e92, #000428);
//     /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to top, #004e92, #000428);
//     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }
.register-logo,
.login-logo {
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    box-shadow: inset -1px 2px 12px 3pxrgba(255, 255, 255, 0.3);
}

.main-conent {
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 90vh;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

nav svg {
    max-width: 20px;
    max-height: 20px;
}

nav .flex-1 {
    display: none;
}

.box .card-body {
    min-height: 350px;
    max-height: 350px;
    overflow-y: hidden;
}

.box {
    border-radius: 20px;
    box-shadow: 10px 10px 8px 10px rgba(139, 138, 138, 0.5);
    background-color: rgba(139, 138, 138, 0.5);
}

:root {
    --swiper-theme-color: #fff !important;
}

.caption-h2 {
    color: rgba(255, 255, 255, 0.712);
    width: 30%;
    border-bottom: 2px solid red;
    /* border-style: double; */
}

.home-center-text {
    margin: 0 35vw;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .caption-h2 {
        font-size: 1.4em !important;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .navbar-toggler {
        background: #ccc !important;
    }
    .caption-h2 {
        font-size: 1.4em !important;
    }
    .box {
        box-shadow: 3px 4px 5px 0px rgba(139, 138, 138, 0.5);
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}