nav svg {
    max-width: 20px;
    max-height: 20px;
}
main,
.register-page,
.login-page {
    background: #000428 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #004e92, #000428) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #004e92, #000428) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.swiper-container {
    width : 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size : 18px;
    background: #fff;

    /* Center slide text vertically */
    display                : -webkit-box;
    display                : -ms-flexbox;
    display                : -webkit-flex;
    display                : flex;
    -webkit-box-pack       : center;
    -ms-flex-pack          : center;
    -webkit-justify-content: center;
    justify-content        : center;
    -webkit-box-align      : center;
    -ms-flex-align         : center;
    -webkit-align-items    : center;
    align-items            : center;
}

main .container-fluid {
    // background-color: rgba(255, 255, 255, 0.6);
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav svg {
    max-width : 20px;
    max-height: 20px;
}

nav .flex-1 {
    display: none;
}

.box .card-body {
    min-height: 350px;
    max-height: 350px;
    overflow-y: hidden;
}

.box {
    border-radius   : 20px;
    box-shadow      : 10px 10px 8px 10px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.6);
}

:root {
    --swiper-theme-color: #fff !important;

}

.caption-h2 {
    color          : rgba(255, 255, 255, 0.6);
    width          : 30%;
    border-bottom  : 2px solid red;
    /* border-style: double; */
}